.table-container{
  text-align: left;
  padding: 20px;
}

.grid-area {
  padding-top: 28px;
}

.plan-list-grid datatable-header-cell.datatable-header-cell.sortable.resizeable:nth-child(4) {
  text-align: center;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom;
  font-size: 12px;
  font-weight: 500;
}
