<div class="ui grid">
  <div class="ui row" style="margin: 20px 0 0 10px">
    <div class="five wide column">
      <h1 class="ui centered aligned header">Plans List</h1>
    </div>
    <div class="right floated seven wide column">
      <button class="ui green icon button" suiPopup popupText="Add New Customer" (click)="editPlan.emit();">
        <i class="add icon"></i>
      </button>
      <div class="ui action input">
        <input type="text" placeholder="Search..." (keyup)='updateFilter(searchBox)' #searchBox>
        <sui-select class="selection"
                    [(ngModel)]="searchSelected"
                    labelField="name"
                    valueField="val"
                    (ngModelChange)="searchBox.value = ''; updateFilter(searchBox)"
                    #select>
          <sui-select-option *ngFor="let option of columnsToSearch"
                             [value]="option">
          </sui-select-option>
        </sui-select>
        <div *ngIf="rows.length === temp.length" class="ui blue icon button" (click)="updateFilter(searchBox)"><i
          class="ui search icon"></i></div>
        <div *ngIf="rows.length !== temp.length" class="ui red icon button"
             (click)="searchBox.value = ''; updateFilter(searchBox)"><i class="ui remove icon"></i></div>
      </div>
    </div>
  </div>
  <div class="ui row">
    <div class="ui column sixteen">
      <div class="table-container">
        <ngx-datatable class="material plan-list-grid" style="height: 70vh"
                       [rows]="rows"
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [limit]="8"
                       [messages]="{emptyMessage: 'No record found', totalMessage:'plans'}"
        >
          <ngx-datatable-column prop="planNo" [width]="70">
            <ng-template let-sort="sortFn" ngx-datatable-header-template >
              <span (click)="sort()" style="cursor: hand">Plan No</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="dateOfPlan">
            <ng-template let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">Plan Date</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{getDisplayDate(value) | date:'yyyy-MM-dd'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="dateOfSurvey">
            <ng-template ngx-datatable-header-template>
              <span>Survey Date</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{getDisplayDate(value) | date:'yyyy-MM-dd'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="extent">
            <ng-template let-column="column" ngx-datatable-header-template>
              <table style="width: 100%; table-layout: fixed">
                <thead>
                <tr>
                  <th colspan="4">Extent</th>
                </tr>
                <tr style="padding: 0 1.2rem;">
                  <th style="font-weight: lighter">A</th>
                  <th style="font-weight: lighter">R</th>
                  <th style="font-weight: lighter">P</th>
                  <th style="font-weight: lighter">Ha.</th>
                </tr>
                </thead>
              </table>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div style="text-align: center">
                <div style="float: left; width: 25%">{{ value.A }}</div>
                <div style="float: left; width: 25%">{{ value.R }}</div>
                <div style="float: left; width: 25%">{{ value.P }}</div>
                <div style="float: left; width: 25%">{{ value.Ha }}</div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="location">
            <ng-template ngx-datatable-header-template>
              <span>Land Name</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value.landName }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="location">
            <ng-template ngx-datatable-header-template>
              <span>Village</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ value.village }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="location">
            <ng-template ngx-datatable-header-template>
              <span>District</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{ districtMap[value.district] }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="customer" [width]="50">
            <ng-template ngx-datatable-header-template>
              <span></span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <i *ngIf="value" class="button user icon" (click)="viewCustomer.emit(value)"></i>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="ui icon buttons">
                <button class="ui blue basic button" suiPopup popupText="Edit"
                        (click)="editPlan.emit(row); editingSelect = row;"><i class="write icon"></i></button>
                <button class="ui red basic button" suiPopup popupText="Delete" (click)="removeRow(row)"><i
                  class="remove icon"></i></button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #removeConfirm>
  <div class="header">Are you sure ?</div>
  <div class="content">
    <p [innerHTML]="context.data"></p>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.approve('approved')">DELETE</button>
    <button class="ui green button" (click)="modal.deny('denied')" autofocus>Cancel</button>
  </div>
</ng-template>
