<div class="container">
  <div class="card-container" *ngIf="tempData['active-div'] === 'dashboard'">
    <div class="ui special cards">
      <div class="card">
        <div class="blurring dimmable image" (mouseover)="tempData['dimmer_customer'] = true"
             (mouseleave)="tempData['dimmer_customer'] = false">
          <sui-dimmer [(isDimmed)]="tempData['dimmer_customer']" [isClickable]="false">
            <div class="content">
              <div class="center">
                <div>
                  <div class="ui action input">
                    <input type="text" placeholder="Search..." autocomplete="off">
                    <button class="ui icon button">
                      <i class="search icon"></i>
                    </button>
                  </div>
                </div>
                <div class="ui inverted button dimmer-button" (click)="addCustomer()">Add Customer</div>
              </div>
            </div>
          </sui-dimmer>
          <img src="../../../assets/images/multy-user.png" style="width: 270px; height: 270px; margin: 10px;">
        </div>
        <div class="content" (click)="tempData['active-div'] = 'grid'; tempData['grid'] = 'customer'">
          <a class="header">Customers</a>
        </div>
        <div class="ui blue bottom attached button" (click)="addCustomer()">
          <i class="add icon"></i>
          Add Customer
        </div>
      </div>

      <div class="card">
        <div class="blurring dimmable image" (mouseover)="tempData['dimmer_plans'] = true"
             (mouseleave)="tempData['dimmer_plans'] = false">
          <sui-dimmer [(isDimmed)]="tempData['dimmer_plans']" [isClickable]="false">
            <div class="content">
              <div class="center">
                <div>
                  <div class="ui action input">
                    <input type="text" placeholder="Search..." autocomplete="off">
                    <button class="ui icon button">
                      <i class="search icon"></i>
                    </button>
                  </div>
                </div>
                <div class="ui inverted button dimmer-button" (click)="addPlan()">Add Plan</div>
              </div>
            </div>
          </sui-dimmer>
          <img src="../../../assets/images/plan.png">
        </div>
        <div class="content" (click)="tempData['active-div'] = 'grid'; tempData['grid'] = 'plan'">
          <a class="header">Plans</a>
        </div>
        <div class="ui blue bottom attached button" (click)="addPlan()">
          <i class="add icon"></i>
          Add Plan
        </div>
      </div>

      <div class="card">
        <div class="blurring dimmable image" (mouseover)="tempData['dimmer_coat'] = true"
             (mouseleave)="tempData['dimmer_coat'] = false">
          <sui-dimmer [(isDimmed)]="tempData['dimmer_coat']" [isClickable]="false">
            <div class="content">
              <div class="center">
                <div>
                  <div class="ui action input">
                    <input type="text" placeholder="Search..." autocomplete="off">
                    <button class="ui icon button">
                      <i class="search icon"></i>
                    </button>
                  </div>
                </div>
                <div class="ui inverted button dimmer-button" (click)="addCoatOrder()">Add Coat Order Letter</div>
              </div>
            </div>
          </sui-dimmer>
          <img src="../../../assets/images/mail.png">
        </div>
        <div class="content" (click)="tempData['active-div'] = 'grid'; tempData['grid'] = 'coat_order'">
          <a class="header">Coat Orders</a>
        </div>
        <div class="ui blue bottom attached button" (click)="addCoatOrder()">
          <i class="add icon"></i>
          Add Coat Order
        </div>
      </div>
    </div>
  </div>

  <!--grid views-->
  <div class="grid-container" *ngIf="tempData['active-div'] === 'grid'">
    <div class="icon-panel">
      <button (click)="tempData['active-div'] = 'dashboard'" class="ui icon huge blue inverted basic button" suiPopup popupText="Home" popupInverted [popupPlacement]="right">
        <i class="large home icon"></i>
      </button>
      <button (click)="tempData['grid'] = 'customer'" class="ui icon huge pink inverted basic button" suiPopup popupText="Customers" popupInverted [popupPlacement]="right">
        <i class="large user outline icon"></i>
      </button>
      <button (click)="tempData['grid'] = 'plan'" class="ui icon huge pink inverted basic button" suiPopup popupText="Plans" popupInverted [popupPlacement]="right">
        <i class="large edit icon"></i>
      </button>
      <button (click)="tempData['grid'] = 'coat_order'" class="ui icon huge pink inverted basic button" suiPopup popupText="Coat Orders" popupInverted [popupPlacement]="right">
        <i class="large mail outline icon"></i>
      </button>
    </div>
    <div class="grid-body">
      <app-customer-list *ngIf="tempData['grid'] === 'customer'" (editCustomer)="addCustomer($event)" #customerList></app-customer-list>
      <app-plan-list *ngIf="tempData['grid'] === 'plan'" (editPlan)="addPlan($event)" #planList></app-plan-list>
      <app-coat-order-list *ngIf="tempData['grid'] === 'coat_order'" (editCoatOrder)="addCoatOrder($event)" #coatOrderList></app-coat-order-list>
    </div>
  </div>
</div>

<app-add-new-customer #addNewCustomerForm (updateSuccess)="updateSuccess('customer', $event)"></app-add-new-customer>
<app-add-new-plan #addNewPlanForm (updateSuccess)="updateSuccess('plan', $event)"></app-add-new-plan>
<app-add-new-coat-order #addNewCoatOrderForm (updateSuccess)="updateSuccess('coat', $event)"></app-add-new-coat-order>
