.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, rgb(130, 241, 129) 0%, rgb(62, 255, 116) 50%, rgb(36, 226, 0) 51%, rgba(183,222,237,1) 100%);
  text-align: center;
}

.card-container {
  padding: 25px;
  display: inline-block;
  margin: 10px auto;
  box-shadow: 9px 10px 36px 1px rgba(0,0,0,0.67);
}

.dimmer-button {
  margin-top: 15px;
}

.icon-panel {
  padding: 5px;
  width: 80px;
  height: 100vh;
  background-color: rgba(0,0,0, 0.8);

  button {
    margin-bottom: 5px;
  }
}
.grid-container {
  display: flex;
}

.grid-body {
  background-color: #b2ffbb;
  box-shadow: 9px 10px 36px 1px rgba(0,0,0,0.67);
  width: 90vw;
  margin: auto auto;
  height: 95vh;
}
