<div class="ui grid">
  <div class="ui row" style="margin: 20px 0 0 10px">
    <div class="five wide column">
      <h1 class="ui centered aligned header">Customer List</h1>
    </div>
    <div class="right floated seven wide column">
      <button class="ui green icon button" suiPopup popupText="Add New Customer" (click)="editCustomer.emit();" >
        <i class="add icon"></i>
      </button>
      <div class="ui action input">
        <input type="text" placeholder="Search..." (keyup)='updateFilter(searchBox)' #searchBox>
        <sui-select class="selection"
                    [(ngModel)]="searchSelected"
                    labelField="name"
                    valueField="val"
                    (ngModelChange)="searchBox.value = ''; updateFilter(searchBox)"
                    #select>
          <sui-select-option *ngFor="let option of columnsToSearch"
                             [value]="option">
          </sui-select-option>
        </sui-select>
        <div *ngIf="rows.length === temp.length" class="ui blue icon button" (click)="updateFilter(searchBox)"><i class="ui search icon"></i></div>
        <div *ngIf="rows.length !== temp.length" class="ui red icon button" (click)="searchBox.value = ''; updateFilter(searchBox)"><i class="ui remove icon"></i></div>
      </div>
    </div>
  </div>
  <div class="ui row">
    <div class="ui column sixteen">
      <div class="table-container">
        <ngx-datatable class="material" style="height: 70vh"
                       [rows]="rows"
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [limit]="8"
                       [messages]="{emptyMessage: 'No record found', totalMessage:'Customers'}"
        >
          <ngx-datatable-column prop="name">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" style="cursor: hand">Name</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="address">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>Address</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{value || '-'}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="telephone">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">Telephone</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{value || '-'}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="idNumber">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">ID</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>{{value || '-'}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="plans" [width]="40">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span></span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <i class="image icon" *ngFor="let p of value" suiPopup [popupHeader]="p.planNo" [popupText]="p.location.landName" popupPlacement="left" (click)="viewPlan.emit(p)"></i>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]="40" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="ui icon buttons" style="overflow-x:scroll;">
                <button class="ui blue basic button" suiPopup popupText="Edit"
                        (click)="editCustomer.emit(row); editingSelect = row;"><i class="write icon"></i></button>
                <button class="ui red basic button" suiPopup popupText="Delete" (click)="removeRow(row)"><i
                  class="remove icon"></i></button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #removeConfirm>
  <div class="header">Are you sure ?</div>
  <div class="content">
    <p [innerHTML]="context.data"></p>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.approve('approved')">DELETE</button>
    <button class="ui green button" (click)="modal.deny('denied')" autofocus>Cancel</button>
  </div>
</ng-template>
